*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../image/back-img.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    min-height: 100vh;

}

input {
    background-color:black;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 400px;
}

input::placeholder{
    color: white;
}

.card {
    background-image: linear-gradient(315deg, black 0%, black 100%);
    border-radius: 20px;
    box-shadow: 0 0px 20px white, 0 0px 20px white;
    display: flex;
    padding: 2rem;
    max-width: 800px;
}

.avatar {
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}
.user-info h2 {
    margin-top: 0;
}
.user-info p{
    padding: 0.5rem;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-bottom: 1rem;
    max-width: 400px;
}
.user-info ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color:black;
    border-radius: 5px;
    border: 2px solid white;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
